# NServiceBus learning transport storage
.learningtransport/

# Platform data storage
.db/
.logs/

# Bower components
**/wwwroot/lib/

# User-specific files
*.suo
*.user

# Build dependencies and artifacts
.dotnet/
.build/

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/
