name: CI
on:
  push:
    tags:
      - '[0-9].[0-9]+.[0-9]'
      - '[0-9].[0-9]+.[0-9]+-*'
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Build and test (Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.x
      - name: Build
        run: dotnet build src/All-our-Aggregates-are-Wrong-Demos.slnf --configuration Release
      - name: Tests
        run: dotnet test src/All-our-Aggregates-are-Wrong-Demos.slnf --configuration Release --no-build

  e2e-tests:
    name: End-to-end tests (Linux)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.x
      - name: Build
        run: dotnet build src/EndToEndTests --configuration Release
      - name: End-to-end tests
        run: dotnet test src/EndToEndTests --configuration Release --no-build
